In [1]:
import pandas as pd

# Creating the Series
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

# Printing the Series
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [2]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
series_from_list = pd.Series(my_list)
print(series_from_list)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [3]:

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [24, 27, 22, 32],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']
}
df = pd.DataFrame(data)
print(df)

      Name  Age         City
0    Alice   24     New York
1      Bob   27  Los Angeles
2  Charlie   22      Chicago
3    David   32      Houston

A DataFrame in pandas is a two-dimensional, size-mutable, and potentially heterogeneous tabular data structure with labeled axes (rows and columns). A Series, on the other hand, is a one-dimensional array-like object containing an array of data and an associated array of data labels, called its index.

In [4]:
series_example = pd.Series([1, 2, 3, 4, 5])
print("Series:")
print(series_example)

data_example = {
    'Column1': [1, 2, 3, 4, 5],
    'Column2': ['A', 'B', 'C', 'D', 'E']
}
df_example = pd.DataFrame(data_example)
print("\nDataFrame:")
print(df_example)

Series:
0    1
1    2
2    3
3    4
4    5
dtype: int64

DataFrame:
   Column1 Column2
0        1       A
1        2       B
2        3       C
3        4       D
4        5       E

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?
Some common functions for data manipulation in a Pandas DataFrame include:

head(): Returns the first n rows of the DataFrame.
tail(): Returns the last n rows of the DataFrame.
describe(): Generates descriptive statistics.
drop(): Removes rows or columns.
groupby(): Groups the data based on some criteria.
merge(): Merges two DataFrames

In [5]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [24, 27, 22, 32],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']
}
df = pd.DataFrame(data)
df_dropped = df.drop(columns=['City'])
summary = df_dropped.describe()
print(summary)

             Age
count   4.000000
mean   26.250000
std     4.349329
min    22.000000
25%    23.500000
50%    25.500000
75%    28.250000
max    32.000000

6. Which of the following is mutable in nature Series, DataFrame, Panel?
Both Series and DataFrame are mutable in nature. However, Panel has been deprecated in the latest versions of pandas.

In [6]:
# Creating multiple Series
series1 = pd.Series([1, 2, 3, 4, 5], name='A')
series2 = pd.Series(['a', 'b', 'c', 'd', 'e'], name='B')
series3 = pd.Series([10.1, 10.2, 10.3, 10.4, 10.5], name='C')

df_from_series = pd.concat([series1, series2, series3], axis=1)

print(df_from_series)

   A  B     C
0  1  a  10.1
1  2  b  10.2
2  3  c  10.3
3  4  d  10.4
4  5  e  10.5